.jumbotrom {
    background-color: #fff;
    margin: 0;
}

.jumbotrom .jumbotrom-heading {
    font-weight: 300;
}

main {
    height: 90vh;
}

footer {
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    text-align: center;
}